/*---- Perfil Pages ----*/

.row-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row-data span {
    font-weight: 300;
}

.headerPerfilPage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttonBack {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-color: #481f87;
}
.buttonBack:hover {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-color: #481f87;
}
.buttonBack:focus {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    background-color: #481f87;
}


.buttonEditPerfil {
    background-color: #481f87;
    color: #fff;
}

.buttonEditPerfil:hover {
    background-color: #481f87;
}
.buttonEditPerfil:focus {
    background-color: #481f87;
}

.cardPage {
    background-color: #fff;
    padding: 3%;
    border-radius: 3%;
    border: 1px #202020 solid
}

.border-radius-image {
    border-radius: 35%;
}

.perfilImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*---- Create Description Page ----*/

.formSize {
   width: 100%;
}

/*---- Show Descriptions Page ----*/

.separeTwoItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separeTwoItemsExtra{
    margin-right: 5%;
}

.descriptionCard {
    width: 30%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.orgOfCards {
    height: 2  0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.subjectButton {
    border-radius: 0%;
    border: 1.5px solid black;
}

.handleInfo {
    background-color: grey;
    color: white;
    width: max-content;
    font-size: 1rem;
    padding: 0.5% 2% 0.5% 2%;
}

/*---- Show Projects Page ----*/

.emptyProjects {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textEmptyProjectsOne {
    text-decoration: none;
    font-size: 2rem;
}

@media(max-width: 1080px){
    .descriptionCard {
        width: 45%;
    }
    
}


@media(max-width: 800px){
    .descriptionCard {
        width: 85%;
    }
}